.boardContainer {
    background-color: #254117;
    max-width: 1200px;
    display: block;
    margin: auto;
}

@media screen and (max-width: 760px) {
    .boardContainer {
        padding: 0 !important;
    }
}